body {
    background-color: rgb(229, 239, 241);
    text-align: center;
}

h1 {
    background-color: lightblue;
    padding: 3mm 0 3mm 0;
    margin: 10px;
}

div {
    border: solid;
    border-width: medium;
    margin-left: 145mm;
    margin-right: 145mm;
    font: bold 1rem sans-serif;
    padding-bottom: 5mm;
}

.special {
    background-color: cadetblue;
    font-size: large;
    margin: 80mm 5mm 0mm 5mm;
    color: white;
    border: darkgreen;
}